
.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #cfe6d0;
    border-radius: 5px;
    }
   
    .form-container h2,
    .form-container h4 {
    text-align: center;
    margin-bottom: 20px;
    }
  
    .form-label {
    font-weight: bold;
    margin-bottom: 5px;
    }
    
    .form-control {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #cfe6d0;
    margin-bottom: 15px;
    }
    
    .form-select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #cfe6d0;
    margin-bottom: 15px;
    }
   
    .btn-primary {
    background-color: #64684c;
    color: rgb(33, 7, 51);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    }
    
    .btn-primary:hover {
        background-color: #cfe6d0;
    }
    
    .error-message {
        background-color: #cfe6d0;
    margin-top: -10px;
    margin-bottom: 10px;
    }
    .mb-4{
        text-align: center;
    }
.icon{
 margin-left: 650px;
 
 width: 80px;
 height: 80px;
}
.bi{
   
   font-size: 60px;
}


.mb-3{
    font-weight: bold;
}


